body{
  background-color: antiquewhite;
}
header{
  background-image: url(image/fond\ 5.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 10px 10px 10px rgb(104, 104, 104);  
  border-radius: 20px; 
}
.photo{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.photo img{
  border-radius: 200px;
}
.start{
  display: flex;
  justify-content: space-evenly;
}
nav .start a {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
}
nav a:hover {
  background-color: antiquewhite;
  background-position: center;
  background-size: cover;
  text-decoration: none;
  border-radius: 200px;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 5px 5px 5px rgb(88, 88, 88);
}
h1{
  padding-top: 25px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: xx-large;
  color: rgb(0, 0, 0);
}
.information h1{
  animation-duration:3s;
  animation-name: slidein;
  animation-direction: normal;
} 
  @keyframes slidein {
    from {
        display: flex;
        justify-content: end;
    }
  
    to {
      display: flex;
      justify-content: center;
    }
  }
p{
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: larger;
} 
.information p {
  animation-duration: 4s;
  animation-name: slidein;
  animation-direction: alternate;
}  
  @keyframes slidein {
    from {
      display: flex;
      justify-content: end;
    }
  
    to {
      display: flex;
      justify-content: center;
    }
  }
.picture{
  padding-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  animation-duration: 4s;
  animation-name: slidein;
  animation-direction: alternate;
}  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.pictureweb img{
  border-radius: 200px;
  box-shadow: 8px 5px 5px rgb(104, 104, 104);
}
.pictureweb{
  padding-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  animation-duration: 7s;
  animation-name: slidein;
  animation-direction: alternate;
} 
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.picture img{
  border-radius: 200px;
  box-shadow: 8px 5px 5px rgb(104, 104, 104);
}
.description p{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.pictures{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.pictures img{
  border-radius: 20px;
  box-shadow:8px 5px 5px rgb(104, 104, 104) ;
}
h2{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  text-decoration: underline;
}
.video{
  display: flex;
  justify-content: start;
  padding-left: 50px;
}
.video video{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(104, 104, 104);
}
.video2{
  display: flex;
  justify-content: end;
  padding-right: 50px;
}
.video2 video{
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(104, 104, 104);
}
.logo{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
} 
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
footer{
  background-image: url(image/fond\ 5.jpg);
  background-position:center ;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgb(104, 104, 104);  
  border-radius: 20px;
}
